<!DOCTYPE>
<html>
    <head lang="en">
        <meta charset="utf-8"/>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <header>
            header
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            footer
        </footer>
    </body>
</html>